body {
	background-color: rgb(253, 251, 251);
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main {
	position: absolute;
	top: 100px;
}

main aside p {
	text-align: right;
}

nav {
	padding: 10px;
}

ol, ul {
	font-size: 18px;
	display: inline-block;
	padding: 30px;
	border: 1px solid black;
}

#cabecalho {
	background-color: green;
	color: white;
	top: 0;
	left: 0;
	right: 0;
	height: 95px;
	text-align: center;
	position: fixed;
}

#minha_foto {
	margin: 0;
	padding: 0;
	border: 0;
	width: 300px;
	border-radius: 20px;
}

#texto {
	font-style: italic;
	color: blue;
	font-size: 16px;
	line-height: 2em;
}

.lado-esquerdo {
	display: inline-block;
	border: 1px solid red;
	padding: 30px;
}

.lado-direito {
	display: inline-block;
	border: 1px solid red;
	padding: 30px;
}