body {
	background-color: aliceblue;
}

h1 {
	text-align: center;
	font-family: Courier New, Courier, monospace;
	padding: 20px;
	background-image: linear-gradient(to right, rgba(223, 226, 61, 0.5),
			rgba(33, 175, 152, 0.616), rgba(192, 37, 140, 0.5));

}

#submit-btn {
	font-size: 14px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#clear-btn {
	font-size: 14px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}